repos:
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        language_version: python3
        args: [--profile=black, --line-length=120]
  # - repo: https://github.com/psf/black-pre-commit-mirror
  #   rev: 25.1.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  #       args: [--line-length=120]
